* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  line-height: 1.15;
}

body {
  height: 100vh;
  overflow: hidden;
}

.transform-none {
  text-transform: none;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

h1 {
  font-family: var(--title-font-family);
}

a.active {
  text-decoration: underline;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-radius: 0.5em;

  padding: 0.5em 1em;

  white-space: nowrap;
}


.monday-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.monday-style-dialog-content-wrapper {
  z-index: 20;
}

//tabs views from vibe monday library
.tabWrapper_90b57f444a {
  border-bottom: 0;

}

.tabWrapper_90b57f444a:after {
  bottom: -1px;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}