.board-details-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 10px;

  // background-color: var(--grey-background-color);
  // background-color: var(--board-main-header-background);
  background-color: #eceff8;
  // --board-main-header-background: #ECEFF8;
  // ^^^

  .board-main-header {
    grid-column: 1/-1;
  }

  .board-details-container {
    grid-row: 2;
    grid-column: 2;
    background-color: var(--primary-background-color);
    border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    box-shadow: var(--box-shadow-xs);

    .monday-storybook-search_size {
      width: 265px;

      #filter-search-input.search-input {
        padding-left: 28px;
      }

      div {
        left: 4px;
      }
    }

    .header-wrapper {
      display: grid;

      padding-top: var(--spacing-medium);
      padding-left: var(--spacing-xl);
      padding-right: var(--spacing-xl);
      grid-template-rows: auto auto;

      .board-header {
        grid-row: 1;
        display: grid;
        grid-template-rows: auto auto;



        .board-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: .2rem;

          .editible-container {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .star-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background: var(--primary-background-hover-color);
            }
          }

          .left-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-small);

            button {
              text-transform: none;
            }

            .btn-avatars {
              padding-inline-end: 4px;

              div {
                padding-inline-end: 0;
              }
            }

            .btn-invite {
              border: 1px solid var(--ui-border-color);
            }
          }



          h2 {
            padding-left: 0;
          }
        }



        .header-description {
          grid-row: 2;
          text-overflow: ellipsis;
          margin-bottom: .8rem;
          padding-inline-start: .5rem;
          line-height: 22px;
          font-size: rem(14px);
          color: var(--secondary-text-color);

          span {
            color: var(--link-color)
          }
        }
      }

      .header-navbar {
        ul {
          border-bottom: 1px solid var(--ui-border-color);

          li:first-of-type {
            a {
              padding-left: 6px;
            }
          }

          a {
            font-size: rem(14px);

            // padding: var(--spacing-small);
            &::before {
              content: '';
              position: absolute;
              left: 100%;
              height: 16px;
              width: 1px;
              background-color: var(--ui-border-color);



            }
          }

        }
      }

    }

    .board-details-actions {
      display: flex;
      column-gap: var(--spacing-medium);
      padding-left: var(--spacing-xl);
      padding-right: var(--spacing-xl);
      margin-block-end: var(--spacing-xl);

      button {
        text-transform: none;
      }
    }
  }

}


// .loader {}