.board-details-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 10px;

  // background-color: var(--grey-background-color);
  // background-color: var(--board-main-header-background);
  background-color: #eceff8;
  // --board-main-header-background: #ECEFF8;
  // ^^^

  .board-main-header {
    grid-column: 1/-1;
  }

  .board-details-container,
  .kanban-details-container {
    grid-row: 2;
    grid-column: 2;

    background-color: var(--primary-background-color);
    border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    box-shadow: var(--box-shadow-xs);
    font-size: 14px;


    .monday-storybook-search_size {
      width: 265px;

      #filter-search-input.search-input {
        padding-left: 28px;

        &.searching {
          background-color: var(--primary-selected-color);
        }
      }

      div {
        left: 4px;
      }
    }

    .header-wrapper {
      display: grid;
      position: sticky;
      top: 48px;
      z-index: 10;
      background-color: var(--primary-background-color);

      padding-top: var(--spacing-medium);
      // padding-left: var(--spacing-xl);
      padding-left: 38px;
      padding-right: var(--spacing-xl);
      border-top-left-radius: 8px;
      grid-template-rows: auto auto;

      .board-header {
        grid-row: 1;
        display: grid;
        grid-template-rows: auto auto;



        .board-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: .2rem;

          .editible-container {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .star-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background: var(--primary-background-hover-color);
            }
          }

          .left-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-small);

            button {
              text-transform: none;
            }

            .btn-avatars {
              padding-inline-end: 4px;

              div {
                padding-inline-end: 0;
              }
            }

            .btn-invite {
              border: 1px solid var(--ui-border-color);
            }
          }



          h2 {
            padding-left: 0;
          }
        }

        .header-description {
          grid-row: 2;
          text-overflow: ellipsis;
          margin-bottom: .8rem;
          padding-inline-start: .5rem;
          line-height: 22px;
          font-size: rem(14px);
          color: var(--secondary-text-color);

          span {
            color: var(--link-color)
          }
        }
      }

      .header-navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--ui-border-color);
        margin-bottom: 20px;



        @keyframes bounce {

          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }

          40% {
            transform: translateY(-7px);
          }

          60% {
            transform: translateY(-3px);
          }
        }

        .btn-collapse-header {
          border: 1px var(--border-style) var(--layout-border-color);
          background-color: var(--primary-background-color);
          width: 26px;
          height: 26px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: var(--spacing-xs);

          &:hover:not(.collapseBtn) {
            background-color: var(--primary-background-hover-on-secondary-color);

            svg {
              animation: bounce 1s ease infinite;
            }
          }

        }

        .collapseBtn {
          transform: rotate(180deg);
          margin-left: auto;

          &:hover {
            background-color: var(--primary-background-hover-on-secondary-color);

            svg {
              animation: bounce 1s ease infinite;
            }
          }
        }

        .hide-collapse-btn {
          opacity: 0;
          cursor: default;
          pointer-events: none;
        }

        .collapse-heading {
          max-width: max-content;
        }

        .collapse-header-navbar {
          align-items: center;
        }

        .collapse-tabs {
          position: relative;
          bottom: -2px;
          left: 15px;
        }

        .tabsWrapper_cef16d5319 {
          padding-bottom: 0;
        }

        ul {

          // border-bottom: 1px solid var(--ui-border-color);
          li:first-of-type {
            a {
              padding-left: 6px;
            }
          }

          a {
            font-size: rem(14px);

            // padding: var(--spacing-small);
            &::before {
              content: '';
              position: absolute;
              left: 100%;
              height: 16px;
              width: 1px;
              background-color: var(--ui-border-color);
            }
          }

        }
      }

    }

    .board-details-actions {
      position: sticky;
      top: 121px;
      z-index: 10;
      background-color: var(--primary-background-color);

      display: flex;
      column-gap: var(--spacing-medium);
      align-items: center;
      // padding-left: var(--spacing-xl);
      padding-left: 38px;
      padding-right: var(--spacing-xl);
      padding-block-end: var(--spacing-xl);

     
      .record-btn,
      .stop-record-btn {
        height: rem(32px);
      }

      // padding-block-end: var(--spacing-medium);
      .btn-sortby {
        border-radius: 4px;

        &.sorted {
          background-color: var(--primary-selected-color);

        }
      }

      button {
        text-transform: none;
      }
    }
  }

}

.spacing-div {
  height: 4px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 5;
}