.board-details-layout {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 9fr;

    background-color: var(--grey-background-color);

    .board-main-header {
        grid-column: 1/-1;
    }

    .board-details-container {
        grid-row: 2;
        grid-column: 2;
        background-color: var(--primary-background-color);
        border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);

        .header-wrapper {
            display: grid;

            padding-top: var(--spacing-medium);
            padding-left: var(--spacing-xl);
            padding-right: var(--spacing-xl);
            grid-template-rows: auto auto;

            .board-header {
                grid-row: 1;
                display: grid;
                grid-template-rows: auto auto;

                .board-title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                .header-description {
                    grid-row: 2;
                    text-overflow: ellipsis;

                    span {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .board-details-actions {
            display: flex;
            padding-left: var(--spacing-xl);
            padding-right: var(--spacing-xl);
        }
    }
}