.activity-list-item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid var(--ui-border-color);
    padding: .5em;
    padding-inline-end: 0;
    padding-inline-start: 2px;
    margin-block-end: 0.2em;

    gap: var(--spacing-medium);
    grid-template-columns: 1.1fr 1.7fr 1fr 2.45fr;

    .activity-member-img {
        border-radius: 50%;
    }

    .created {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // gap: var(--spacing-medium);

        .created-at {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .1rem;

        }

        img {
            height: 30px;
            width: 30px;
        }
    }

    .title {
        justify-self: start;
        max-width: 180px;
    }

    .activity-type {
        display: flex;
        align-items: center;
        gap: .2rem;
    }

    .action-description {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        height: 100%;

        .activity-members-container {
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .activity-file-img {
            height: 20px;
        }

        .activity-timeline-container {
            width: rem(85px);
            margin: 0;

            &:hover {
                background-color: #c4c4c4;
            }
        }

        .old-status {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 100px;
            padding: .5em;
            border-radius: var(--border-radius-small);
            text-overflow: ellipsis;
            white-space: nowrap;

            .activity-timeline-container {
                width: rem(85px);
                margin: 0;

                &:hover {
                    background-color: #c4c4c4;
                }
            }
        }

        .new-status {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 100px;
            padding: .5em;
            border-radius: var(--border-radius-small);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}