.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  width: 1065px;

  padding: 1rem;
  border-radius: 1rem;
  margin-inline: auto;
  background-color: var(--allgrey-background-color);

  .in-progress-img {
    margin-top: 100px;
    width: 400px;
    height: 400px;
  }

  .members-chart {
    display: flex;
    gap: rem(20px);

    .box {
      width: 333.3px;
      //   margin: 3px;
      box-shadow: 1px 2px 5px rgb(220, 220, 220);
    }
  }

  .line-chart {
    width: 1020px;
    border: 1px solid lightgray;
    box-shadow: 1px 2px 5px rgb(220, 220, 220);
    margin-block-end: 20px;
  }

  .chart-data-container {
    display: flex;
    gap: rem(20px);

    .chart-info {
      display: flex;
      width: 500px;
      height: 150px;
      box-shadow: 1px 2px 5px rgb(220, 220, 220);
      padding: 5px;
      border-radius: 1rem;
      justify-content: center;
      margin-block-end: 20px;
      background-color: white;

      .completed-tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        justify-content: space-between;
        align-items: center;

        h1 {
          align-self: center;
          font-size: 1.3rem;
          font-weight: 600;
        }

        p {
          margin: auto;
          font-size: 2.5rem;
          text-align: center;
          color: var(--color-done-green);
        }
      }
    }
  }
}

.show-border {
  border: 1px solid lightgray;
}