.editable-label {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    &:hover {

        .delete-label-container,
        .drag-icon {
            opacity: 1;
        }
    }

    .label-wrapper {
        display: flex;
        align-items: center;
        height: 32px;
        border-radius: var(--border-radius-small);
        border-color: rgb(230, 233, 239);
        padding: var(--spacing-xs);

        .label-color-container {
            display: flex;
            height: 24px;
            width: 24px;
            align-items: center;
            padding: var(--spacing-xs);
            border-radius: var(--border-radius-small);
        }

        .label-title {
            border: 0;
            outline: 0;
            padding: 0 var(--spacing-xs) 0 var(--spacing-xs);
            text-overflow: ellipsis;
            width: 100px;
            @include vibe-text('small', 'normal');
            font-size: 14px;
            font-weight: 400;
        }
    }

    .color-picker {
        position: absolute;
    }

    .drag-icon {
        opacity: 0;
    }

    .delete-label-container {
        display: flex;
        opacity: 0;
    }
}