.group-preview-container {

    .collapsible-header-wrapper {

        &>* {
            display: flex;
            align-items: center;
            align-content: center;
        }
    }

    .color-picker {
        position: absolute;
    }

    .item-count {
        font: var(--font-subtext);
    }
}