.group-list-container {
  padding-left: var(--spacing-xl);
  padding-block-end: var(--spacing-xl);
  margin-block-start: var(--spacing-medium);

  .collapsible-header-wrapper {
    display: flex;
    align-items: center;
  }

  .group-list-item {
    position: relative;
    margin-block-end: var(--spacing-large);

    .group-menu-btn {
      position: absolute;
      left: -30px;
      top: 0px;
      // margin-inline-start: auto;
      margin-inline-end: var(--spacing-medium);
      opacity: 0;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}