.group-preview-container {


    .collapsible-header-wrapper {

        &>* {
            display: flex;
            align-items: center;
            align-content: center;
        }

    }



    .color-picker {
        position: absolute;
    }

    .num-of-tasks {
        opacity: 0;
        transition: opacity 0.3s;
        font: var(--font-subtext);

        &:hover {
            opacity: 1;
        }
    }
}

