.group-list-container {
    padding-left: var(--spacing-xl);
    padding-block-end: var(--spacing-xl);
    margin-block-start: var(--spacing-medium);

    .collapsible-header-wrapper {
        display: flex;
        align-items: center;

    }
}