.group-preview-container {
    position: relative;
    margin-block-end: var(--spacing-large);

    &.collapse-group {
        margin-block-end: 0;
    }

    .collapse-arrow-btn.collapse-group {
        margin-inline-start: 10px;
    }

    .collapsible-header-wrapper {

        &>* {
            display: flex;
            align-items: center;
            align-content: center;
        }

    }

    .color-picker {
        position: absolute;
        z-index: 7;
    }

    .num-of-tasks.collapse-group {
        opacity: 1;
        position: absolute;
        bottom: -20px;
        right: 0;
        left: 35px;
    }

    .num-of-tasks {
        opacity: 0;
        transition: opacity 0.3s;
        font: var(--font-subtext);
        position: relative;
        bottom: -1px;
        right: -3px;
        color: var(--primary-text-on-secondary-color);

        &:hover {
            opacity: 1;
        }
    }
}