.group-list-container {
  // padding-left: var(--spacing-xl);
  // padding-left: 38px;
  display: grid;
  grid-template-columns: 38px 1fr;

  .side-spacing-div {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .group-list {
    grid-column: 2/3;
  }

  .btn-add-group {
    grid-column: 2;
    justify-self: start;
  }

  padding-block-end: var(--spacing-xl);
  padding-block-start: 5px;

  button {
    text-transform: none;
  }

  .group-list-item {
    position: relative;
    margin-block-end: var(--spacing-large);

    .group-menu-btn {
      position: absolute;
      left: -27px;
      top: 0px;
      // margin-inline-start: auto;
      margin-inline-end: var(--spacing-medium);
      opacity: 0;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .collapsible-header-wrapper.collapse-group {
    background-color: transparent;
    max-width: max-content;
    top: 0;
  }

  .collapsible-header-wrapper {
    display: flex;
    align-items: center;
    position: sticky;
    top: 185px;
    z-index: 6;
    background-color: var(--primary-background-color);

    &:hover {
      .num-of-tasks {
        opacity: 1;
      }

      .group-menu-btn {
        opacity: 1;
      }
    }
  }
}