.modal-title {
  font-size: 24px;
}

.invite-memebers-modal {
  padding-block-start: 10px;
}

.member-invite-container {
  
  .member-invite-list .member-item {
    font-family: var(--font-family);

    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 16px;
    font-weight: 500;

    .monday-storybook-chips_name {
      margin-inline-start: 8px;
    }
  }
}