.task-list-container {
  // color: color rgb(50, 51, 56);
  // font-size: 14px;

  .group-grid {
    display: grid;
    grid-template-columns: 40px 350px 140px 140px 140px 140px 140px 140px;
    justify-content: start;
    align-content: center;
    // border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);
  }

  .header-title-container {
    position: sticky;
    top: 214px;
    z-index: 5;
    background-color: var(--primary-background-color);

    display: grid;
    grid-auto-flow: column;
    border-top: var(--border-width) var(--border-style) var(--ui-border-color);
    border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);
    border-right: var(--border-width) var(--border-style) var(--ui-border-color);
    border-image: linear-gradient(to right, transparent 8px, var(--ui-border-color) 0) 1;



    .header-title {
      @include groupCell;
      text-align: center;
      padding: var(--spacing-small);
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .header-title-side {
      display: flex;

      width: 100%;
      height: 100%;

      border-right: var(--border-width) var(--border-style) var(--ui-border-color);

      .color-indicator {
        width: 7px;
        // height: 100%;
        position: relative;
        top: -1px;
        height: calc(100% + 2px);
        border-radius: var(--border-radius-small) 0 0 0;
      }

      .task-select {

        height: 100%;

        flex-grow: 1;
        align-self: center;
        justify-self: center;

        display: flex;
        align-items: center;
        justify-content: center;

        &>* {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .task-list {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;

    border-right: var(--border-width) var(--border-style) var(--ui-border-color);
    border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);

    &:hover {
      background-color: rgb(245, 246, 248);
      box-shadow: 4px 3px 6px -3px var(--ui-border-color);

      .task-menu-btn {
        opacity: 1;
      }
    }

    .task-menu-btn {
      position: absolute;
      left: -30px;
      opacity: 0;
      transition: opacity 0.2s;

      &:hover,
      &.active,
      &:hover~.menu.active {
        opacity: 1;
      }
    }

    .menu {
      position: absolute;
      left: -40px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s, visibility 0.2s;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      // &:hover {
      //   // Add any additional styles you want for menu hover
      // }
    }

    .task-item {
      @include groupCell;
      height: 36px;
      // border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);


      &>* {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        text-align: center;
        cursor: pointer;
      }

      &:nth-of-type(2) {

        .task-title-container {
          justify-content: space-between;

          &:hover {
            .btn-open-task {
              opacity: 1;
              background-color: rgb(245, 246, 248);
              transition: all .2s;
            }
          }
        }

      }
    }
  }

  .task-list-add {
    border-radius: 0 0 0 var(--border-radius-small);
    box-shadow: var(--box-shadow-xs);
    border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);
    opacity: 0.6;
    height: 36px;

    &>* {
      @include groupCell;
      align-items: center;
    }

    .task-add-btn {
      margin-left: 0.7rem;
      width: calc(100% - 0.7rem);
    }

    .task-list-add-side {
      display: flex;

      width: 100%;
      height: 100%;

      .color-indicator {
        width: 7px;
        height: 37px;
        // height: calc(100% + 1px);
        border-radius: 0 0 0 var(--border-radius-small);
      }


      .task-select {
        height: 100%;
        // border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);

        flex-grow: 1;
        align-self: center;
        justify-self: center;

        display: flex;
        align-items: center;
        justify-content: center;

        &>* {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .task-list-summary-wrapper {
    border-bottom: unset;

    .task-list-summary-emptycell-left {
      grid-column: 3;
      border-radius: 0 0 0 var(--border-radius-small);
      border-left: var(--border-width) var(--border-style) var(--ui-border-color);
      border-right: var(--border-width) var(--border-style) var(--ui-border-color);
      border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);
      box-shadow: var(--box-shadow-xs);
    }

    .task-list-summary {
      // @include groupCell;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      padding: var(--spacing-small);
      border-right: var(--border-width) var(--border-style) var(--ui-border-color);
      border-bottom: var(--border-width) var(--border-style) var(--ui-border-color);
      box-shadow: var(--box-shadow-xs);

      .label-progress-item,
      .status-sum-container {
        transition: all .2s ease-out;

        &:hover {
          transform: scaleY(1.2);

        }
      }

      .status-sum-container {
        height: 24px;
        width: 100%;
        background-color: var(--color-explosive);
      }
    }

    .date-summary-container,
    .timeline-summary-container {
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: #c4c4c4;
      height: 22px;
      width: 100%;
      margin-inline: 8px;
      font-size: 13px;
      border-radius: 11px;
      color: #fff;
      position: relative;

      &:hover {
        .dates-summary-txt {
          display: none;
        }

        .dates-summary-days-txt {
          display: inline-block;
        }

        .timeline-summary-txt {
          display: none;
        }

        .timeline-summary-days-txt {
          display: inline-block;
        }

      }
    }

    .dates-summary-days-txt {
      display: none;
    }

    .timeline-summary-days-txt {
      display: none;

    }
  }

}

#story-book-modal {
  button {
    text-transform: none;
  }
}