.task-members {
  position: relative;

  &:hover {
    .btn-add-member {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .btn-add-member {
    display: none;
    color: var(--text-color-on-primary);
    background-color: var(--primary-color);
    z-index: 1;
    font-size: 14px;
    margin: 0 -6px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 14px;

    .line-one {
      width: 10px;
      height: 2px;
      background-color: white;
      position: absolute;
    }

    .line-two {
      width: 2px;
      height: 10px;
      background-color: white;
      position: absolute;
    }
  }

  p {
    color: rgb(103, 104, 121);
    text-align: left;
    padding-left: 16px;
    padding-block: 8px;
  }

  .person-circle {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .member-picker-modal {
    background-color: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
    border-radius: 4px;
    font-size: 14px;
    padding: 16px 16px 16px 16px;
    width: 328px;

    .chosen-members-container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 8px;
      max-width: 328px;
      padding-inline-start: 10px;
      padding-bottom: 8px;

      .chip {
        border-radius: 24px;
        position: relative;

        .typography_1517eaf6c4 {
          font-size: 12px;
        }

      }
    }

    .selected-members {
      padding: 8px 2px 0px 16px;
    }

    .members-search {
      border: 1px;
      padding: 8px 24px 8px 10px;
      width: 278px;
      //   height: 14px;
    }

    .members-list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .member {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          background-color: #f4f4f4;
        }

        .person-circle {
          border: 2px solid #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }

        .member-name {
          margin-left: 8px;
        }
      }
    }


  }
}

.counter_adf923d95a {
  padding: 4px;
}