.task-side-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--primary-background-color);


    .task-side {
        display: flex;
        width: 100%;
        height: 100%;


        .color-indicator {
            width: 7px;
            // height: 100%;
            height: calc(100% + 1px);
        }

        .task-select {
            flex-grow: 1;
            align-self: center;
            justify-self: center;

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-background-color);



            &>* {
                display: flex;
                flex-direction: column;
            }
        }
    }
}