.task-details-container,
.activity-log-container {
    box-shadow: 0px -1px 10px -1px rgba(0, 0, 0, 0.30);
    height: 100%;
    width: 700px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-left: 1px solid;
    border-color: var(--ui-border-color);
    z-index: 1000;

    overflow-y: auto;
    scroll-behavior: smooth;

}

.task-details-container::-webkit-scrollbar,
.activity-log-container::-webkit-scrollbar {
    width: 0px;
    /* Adjust the width as needed */
    height: 0px;
    /* Adjust the height as needed */
}


.task-updates-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: rem(20px);

    input,
    textarea {
        border: none;
        margin: 0;
        border: 1px solid;
        border-color: var(--primary-color);
        border-radius: 8px;
        padding: 10px 20px;
        color: var(--primary-text-color);
        cursor: text;
        resize: none;

        // width: 660px;
        width: 100%;
        justify-content: start;
        text-align: left;
        margin-bottom: 65px;

        &:focus-visible {
            outline: none
        }
    }



    .text-area-contianer {
        margin-bottom: 65px;
        width: 100%;
        display: flex;
        flex-direction: column;

        textarea {
            height: 144px;
            margin: 0;
        }

        .update-btn {
            padding-left: auto;
            text-transform: none;
            margin-left: auto;
            // margin-inline-start: 600px;
            margin-block-start: 6px;
        }
    }

    .large {
        height: 144px;
    }

    img {
        width: 290px;
        margin-bottom: rem(39px);
        margin-top: rem(50px);
    }

    h2 {
        font: var(--font-h2);
        color: var(--primary-text-color);
    }

    p {
        margin-top: 1rem;
        font-size: var(--font-size-paragraph);
        color: var(--primary-text-color);
        font-weight: 400;
        max-width: 450px;
        line-height: 25px;
    }


    .task-comments-container {
        width: 100%;

        .comment-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1rem;
            line-height: 20px;
            color: var(--primary-text-color);
            background-color: var(--primary-background-color);
            border: 1px solid;
            border-radius: .5rem;
            border-color: var(--layout-border-color);
            // width: 660px;
            width: 100%;
            min-height: 200px;
            margin-bottom: em(20px);

            .comment-header {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: .5rem;
                padding: 16px;
                min-height: 68px;
                border-radius: 8px;
                padding-bottom: 16px;

                img {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }

                .member-name {
                    font-size: 1rem;
                    font-weight: 400;
                }

                .dot {
                    background-color: #00c875;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    display: inline-block;
                }

                .comment-header-left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    gap: 6px;

                    .time-since {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }
                }


            }

            pre {
                padding: 0 15px 15px 15px;
                text-align: left;
            }

            .comment-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 42px;
                font-size: var(--font-size-paragraph);
                border-top: 1px solid;
                border-top-color: var(--layout-border-color);
                padding: 4px;

                .footer-btn {
                    width: 100%;
                    padding-block: .4rem;
                    border-radius: 4px;
                    cursor: pointer;

                    &.like-btn {
                        margin-inline-end: 6px;
                        margin-inline-start: 2px;

                    }

                    &.reply-btn {
                        margin-inline-end: 2px;
                        margin-inline-start: 6px;
                    }

                    &:hover {
                        background-color: var(--primary-background-hover-color);
                    }
                }

                .middle-line {
                    height: 43px;
                    width: 2px;
                    background-color: var(--layout-border-color);

                }


            }

        }
    }
}


.task-files-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: rem(20px);

    img {
        width: 300px;
        height: 120px;
        margin-bottom: 1rem;
        margin-top: 175px;
    }

    div {
        margin-bottom: 8px;
        font-size: em(16px);
        line-height: 24px;
        font-weight: 700;

        .or-word {
            font-weight: normal;
        }
    }

    p {
        margin-bottom: 24px;
        line-height: 22px;
        font-size: em(14px);
    }

    button {
        text-transform: none;
    }
}

.task-activity-log-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    text-align: center;
    padding: rem(20px);

    .task-activity-log-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;

        .actions-bar,
        .task-activity-actions-bar {
            display: flex;
            align-items: center;
        }

        .actions-bar {
            gap: rem(20px);
        }

        button {
            text-transform: none;
        }

        input {
            padding: 0 16px;
            width: 150px;
            border: 1px solid #c4c4c4;
            height: 32px;
            border-radius: 4px;
            outline: none;
            transition: width .1s ease, height .1s ease;

            &::placeholder {
                font-size: rem(15px);
                font-weight: 500;
                color: var(--ui-border-color);
            }
        }

        .person-btn {
            margin-inline-start: .5rem;
            width: 85px;
        }
    }
}

.monday-style-dialog-content-wrapper {
    z-index: 1001;
}