.task-date {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;

    .date-picker-modal {
        background-color: white;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
        border-radius: 4px;
        font-size: 14px;
    }

    .date-container {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: relative;
        cursor: text;

        .date-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 13px;
        }

        &:hover {
            .date-hover-container {
                opacity: 1;
            }

            .date-text {
                color: var(--primary-color);
            }
        }

        .date-hover-container {
            opacity: 0;
            width: 129px;
            height: 27px;
            border: 1px var(--border-style);
            border-color: var(--ui-border-color);
            cursor: text;

            .btn-delete-date {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;
                width: 18px;
                height: 18px;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary-background-hover-on-secondary-color);

                }
            }
        }

    }

    .no-date-container {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 2px;
        width: 129px;
        height: 27px;
        border: 1px var(--border-style);
        border-color: var(--ui-border-color);
        cursor: text;

        .btn-add-member {
            color: var(--text-color-on-primary);
            background-color: var(--primary-color);
            border-radius: 50%;
            width: 14px;
            height: 14px;
            position: relative;

            .line-one {
                width: 10px;
                height: 2px;
                background-color: white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .line-two {
                width: 2px;
                height: 10px;
                background-color: white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

            }
        }

        .calendar-icon {
            color: #676879;
        }

    }

    &:hover {
        .no-date-container {
            display: flex;
        }
    }
}