// // BORDER COLORS
$card-colors: (
  rgb(255, 138, 196),
  rgb(0, 200, 117),
  rgb(240, 64, 149),
  rgb(255, 153, 0),
  rgb(0, 210, 210),
  rgb(171, 205, 253),
  rgb(255, 117, 117),
  rgb(105, 169, 202),
  rgb(108, 108, 255)
);

//Background colors
$primary-background-color: #ffffff;
$secondary-background-color: #f5f5f5;
$primary-background-hover-color: #dcdfec;
$inverted-color-background: #323338;
$grey-background-color: #dcdfec;
$allgrey-background-color: #f6f7fb;

//Text colors
$primary-text-color: #323338;
$secondary-text-color: #6b6c7e;
$secondary-text-on-secondary-color: #ffffff;
$text-color-on-inverted: #ffffff;
$text-color-on-primary: #ffffff;
$disabled-text-color: #b3b3b3;
$placeholder-color: #b3b3b3;
$link-color: #6b6c7e;

//Border colors
$border-color: #dcdfec;
$border-color-hover: #b3b3b3;
$border-color-selected: #6b6c7e;
$border-color-selected-hover: #6b6c7e;

//Semantic colors
$primary-color: #0073ea;
$primary-hover-color: #0060c0;
$primary-selected-color: #cce5ff;
$primary-selected-hover-color: #b3d1ff;
$positive-color: #00c875;
$positive-color-hover: #00b36b;
$positive-color-selected: #c9f7e9;
$positive-color-selected-hover: #b3f0df;
$negative-color: #ff4d4d;
$negative-color-hover: #ff3333;
$negative-color-selected: #ffd6d6;
$negative-color-selected-hover: #ffc2c2;
$warning-color: #ffc82c;
$warning-color-hover: #ffb31a;
$warning-color-selected: #fff2cc;
$warning-color-selected-hover: #ffe5b3;
$private-color: #f65e7c;
$shareable-color: #a25ddc;
$inverted-color-background: #323338;
$icon-color: #6b6c7e;

//content colors
$grass_green: #00c875;
$dark_grass_green: #00b36b;
$light_grass_green: #c9f7e9;
$lighter_grass_green: #b3f0df;
$red: #ff4d4d;
$dark_red: #ff3333;
$light_red: #ffd6d6;
$lighter_red: #ffc2c2;
$yellow: #ffc82c;
$dark_yellow: #ffb31a;
$light_yellow: #fff2cc;
$lighter_yellow: #ffe5b3;
$purple: #f65e7c;
$dark_purple: #a25ddc;
$light_purple: #f5f5f5;
$lighter_purple: #f5f5f5;
$blue: #0073ea;
$dark_blue: #0060c0;
$light_blue: #cce5ff;
$lighter_blue: #b3d1ff;
$grey: #6b6c7e;
$dark_grey: #323338;
$light_grey: #dcdfec;
$lighter_grey: #f6f7fb;
$white: #ffffff;
$black: #000000;

// TYPOGRAPHY
$font-family: "Roboto", sans-serif;
$font-size: 16px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$line-height: 1.5;

// LAYOUT
$layoutPadding: 20px;

// // LAYOUT BREAKPOINTS
// $break-narrow: 1200px;
// $break-normal: 1360px;
// $break-wide: 1920px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;
