.kanban-details-container {
    height: 100vh;

    #kanban-actions-container.board-details-actions {
        border-bottom: 1px solid var(--ui-border-color);
        margin-block-end: var(--spacing-xl);
        padding-block-end: 20px;
    }

}