.kanban-details-container {
    #kanban-actions-container.board-details-actions {
        border-bottom: 1px solid var(--ui-border-color);
        margin-block-end: var(--spacing-small);
        padding-block-end: 20px;

    }

}